# Build output
build/
cmake-build-*/

# Toolchain artifacts
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.su

# IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
.DS_Store

# Misc
compile_commands.json
*.log

